@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.summary_stype_underline{
	display: block;
    height: 1px;
    width: 50%;
    border: 0;
    text-align: center;
    border-top: 1px solid #ccc;
}

.summary_stype_underline1 {
    display: block;
    height: 1px;
    width: 10%;
    border: 0;
    text-align: center;
    border-top: 1px solid #ccc;
}

.block-example {
    border: 1px solid #eee;
}
.check_stype{
  border-left: 1px solid #eee;
}
.summary_stype{
	width:100%;
}
.to_add_break{
  margin-bottom: 3%;
}
.summary_stype:hover{
	box-shadow: 5px 5px 15px #888888;
}
.temp{
	margin-top: 10%;

}

.hello{
   font-size: 200%;
   text-align: center;
}
.imag{
  padding: 50px;
  width: 50%;
  /* display: block; */
/* margin-left: auto;
margin-right: auto;*/
}

.name{
   font-size: 300%;
   padding-top: 0px;
   justify-content: center;
   align-items: center;
   margin-top: 50%;
 }

.email{
    font-size: 75%;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
}
 .row_class{
   justify-content: center;
   align-items: center;
 }

 .button_prof{
   width: 30%;
   margin-left: 25%;
 }
.show{

  border-left: 30px solid black;
  border-width: thin;
}



.head1{
  text-align: left;
  margin-left: 2%;
  font-size: 150%;
}

.head2{
  text-align: left;
  margin-left: 2%;
}
.hidden{
   margin-left: 5%;
}

.card_service:hover{
  box-shadow: 5px 5px 15px #888888;
}

.to_check1{

    text-align:left
}

.img1{
    margin-top:1.5%;
    width:100%;
    height:80%
}
.img2 {
    width: 100%;
    height: 150px;
    transition: transform .3s ease;
}

    .img2:hover {
        transform: scale(1.3);
    }

.hpc_img_name{
  text-decoration:none;
  color: black;
}

.hpc_row2 {
    display: inline-block;
    overflow: hidden;
    text-decoration:none;
}

    .hpc_row2:hover {
        cursor: pointer;
        text-decoration:none;
    }

    .hpc_row2:hover .hpc_img_name{
        text-decoration:none;
        color: blue;
    }
.hpc_row2_link{
  text-decoration: none;
}

.hpc_img_name{
  font-family: 'Abel', sans-serif;
  font-size: 24px;
}

.link_sd{
  text-decoration: none;
}


.row2 {
    text-align: center;
}

.row2_col:hover {
    box-shadow: 5px 5px 15px #888888;
}
.icons{
    font-size:50px;
}

.td_tab:hover{
    color:blue;
    cursor:pointer
}
.tab {
    /*border-top: 1px solid white;*/
    text-align:left
}

.foot_con {
    border-left: 1px solid white;
}
.foot_icon{
    font-size:30px;
    cursor:pointer
}

.foot_hpc{
  font-size: 25px;
}

.mainSlide{
  background-image: url("./assets/back.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8);
}
.display-31{
  color: white;
  font-family: "Righteous"
}
.display-32{
  color: white;
  font-family: "Righteous";
}
.jumb2{
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}
.lead1{
  color: white;
}


.search{
  width: 35%;
  padding: 10px 15px;
  /* border: 1px solid #00a0fc; */
  background-color: #f1f1f1;
  border: 1px solid transparent;
}

.search_btn{
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 11px 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 0.8%;
  font-size: 16px;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.search_btn:hover{
  opacity: 0.8;
}
