body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.summary_stype_underline{
	display: block;
    height: 1px;
    width: 50%;
    border: 0;
    text-align: center;
    border-top: 1px solid #ccc;
}

.summary_stype_underline1 {
    display: block;
    height: 1px;
    width: 10%;
    border: 0;
    text-align: center;
    border-top: 1px solid #ccc;
}

.block-example {
    border: 1px solid #eee;
}
.check_stype{
  border-left: 1px solid #eee;
}
.summary_stype{
	width:100%;
}
.to_add_break{
  margin-bottom: 3%;
}
.summary_stype:hover{
	box-shadow: 5px 5px 15px #888888;
}
.temp{
	margin-top: 10%;

}

.hello{
   font-size: 200%;
   text-align: center;
}
.imag{
  padding: 50px;
  width: 50%;
  /* display: block; */
/* margin-left: auto;
margin-right: auto;*/
}

.name{
   font-size: 300%;
   padding-top: 0px;
   justify-content: center;
   align-items: center;
   margin-top: 50%;
 }

.email{
    font-size: 75%;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
}
 .row_class{
   justify-content: center;
   align-items: center;
 }

 .button_prof{
   width: 30%;
   margin-left: 25%;
 }
.show{

  border-left: 30px solid black;
  border-width: thin;
}



.head1{
  text-align: left;
  margin-left: 2%;
  font-size: 150%;
}

.head2{
  text-align: left;
  margin-left: 2%;
}
.hidden{
   margin-left: 5%;
}
}
.card_service:hover{
  box-shadow: 5px 5px 15px #888888;
}

.to_check1{
    
    text-align:left
}

.img1{
    margin-top:1.5%;
    width:100%;
    height:80%
}
.img2 {
    width: 100%;
    height: 150px;
    transition: transform .3s ease;
}

    .img2:hover {
        transform: scale(1.2);
    }



.hpc_row2 {
    display: inline-block;
    overflow: hidden;
}

    .hpc_row2:hover {
        cursor: pointer;
    }

.row2 {
    text-align: center;
}

.row2_col:hover {
    box-shadow: 5px 5px 15px #888888;
}
.icons{
    font-size:50px;
}

.td_tab:hover{
    color:blue;
    cursor:pointer
}
.tab {
    /*border-top: 1px solid white;*/
    text-align:left
}

.foot_con {
    border-left: 1px solid white;
}
.foot_icon{
    font-size:30px;
    cursor:pointer
}
