body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.summary_stype_underline{
	display: block;
    height: 1px;
    width: 50%;
    border: 0;
    text-align: center;
    border-top: 1px solid #ccc;
}

.summary_stype_underline1 {
    display: block;
    height: 1px;
    width: 10%;
    border: 0;
    text-align: center;
    border-top: 1px solid #ccc;
}

.block-example {
    border: 1px solid #eee;
}
.check_stype{
  border-left: 1px solid #eee;
}
.summary_stype{
	width:100%;
}
.to_add_break{
  margin-bottom: 3%;
}
.summary_stype:hover{
	box-shadow: 5px 5px 15px #888888;
}
.temp{
	margin-top: 10%;
}
.card_service:hover{
  box-shadow: 5px 5px 15px #888888;
}

.to_check1{
    
    text-align:left
}

.img1{
    margin-top:1.5%;
    width:100%;
    height:80%
}
.img2 {
    width: 100%;
    height: 150px;
    transition: transform .3s ease;
}

    .img2:hover {
        transform: scale(1.2);
    }



.hpc_row2 {
    display: inline-block;
    overflow: hidden;
}

    .hpc_row2:hover {
        cursor: pointer;
    }

.row2 {
    text-align: center;
}

.row2_col:hover {
    box-shadow: 5px 5px 15px #888888;
}
.icons{
    font-size:50px;
}

.td_tab:hover{
    color:blue;
    cursor:pointer
}
.tab {
    /*border-top: 1px solid white;*/
    text-align:left
}

.foot_con {
    border-left: 1px solid white;
}
.foot_icon{
    font-size:30px;
    cursor:pointer
}